/* https://github.com/rghedin/minifluxbonito
Versão 1.1 */

:root {
	--cor-fonte: hsl(0, 0%, 10%);
	--cor-link-meta: hsl(0, 0%, 47%);
	--cor-link-meta-alt: hsl(0, 0%, 20%);
	--fs-conteudo: clamp(1.1875rem, 1.1505rem + 0.1852vw, 1.25rem);
}

.header {
	margin: 0 0 2.5rem;
	padding: 0;
	background-color: rgb(246, 246, 246);
	font-size: .9rem;
	border-radius: 6px;
}

.header nav {
	align-items: center;
}

.logo {
	padding: .5rem;
	background-color: color(srgb 0.945 0.945 0.945);
	border-radius: 6px 0 0 6px;
}

#header-menu {
	text-align: center;
	margin: 0 auto;
	padding: .5rem 1rem;
}
@media (min-width: 620px) {
	#header-menu {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
	}
}
@media (min-width: 830px) {
	.header {
		margin: 1rem 0 2.5rem;
	}
}
.header li {
	padding: 0;
}

.page-header,
#main {
	padding-inline: 0;
	margin-bottom: 2.5rem;
}

.page-header h1 {
	font-weight: 400;
	font-size: 2.15rem;
	font-family: var(--entry-content-font-family);
	padding-bottom: .35rem;
	border-bottom: 1px dashed var(--pagination-border-color);
	padding: 0 1rem .5rem;
}

.page-header nav {
	padding: 0 1rem;
}

:is(.page-button,.page-link) {
	font-size: .9rem;
}

.pagination a,
:is(.page-button,.page-link),
.pagination-next:after,
.pagination-prev:before {
	color: var(--cor-link-meta);
}

.pagination-top,
.page-footer,
.pagination-entry-top,
.pagination-entry-bottom {
	padding: 0;
	margin: 2rem auto;
	border: none;
}
.pagination {
	font-size: .9rem;
	padding: 0 1rem;
}
.pagination-bottom {
	padding: 0;
}

.item {
	border: 0;
	border-bottom: 1px dashed var(--pagination-border-color);
	margin-bottom: 2rem;
	padding: 0 1rem .75rem;
}

.item-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .5rem;
}

.item-title a {
	font-weight: 500;
}

.item-title a img {
	vertical-align: text-bottom;
}

.category a {
	color: hsl(0, 0%, 38%);
}

.item-meta {
	font-size: .9em;
}

.item-meta ul {
	margin: 0;
	justify-content: space-between;
}
.item-meta li {
	display: inline;
}

.item-meta-info {
	font-size: .9rem;
	margin-bottom: .5rem !important;
}
.item-meta-info li:not(:last-child):after {
	content: "/";
}

.item-meta-icons {
	display: flex;
	column-gap: .75rem;
}

.item-meta-icons li {
	margin: 0;
}

.item-meta-icons li>:is(a,button) {
	font-size: inherit;
}

.entry header {
	padding: 0 0 1rem;
	margin-bottom: 2rem;
	border-bottom: 1px dashed var(--pagination-border-color);
}

.entry header h1 {
	font-family: var(--entry-content-font-family);
	font-size: 2.15em;
	font-weight: 500;
	margin: 0 0 .5rem;
	padding: 0 1rem .5rem;
	border-bottom: 1px dashed var(--pagination-border-color);	
}

.entry-actions {
	margin-bottom: 1rem;
}

.entry-actions ul {
	display: flex;
	justify-content: space-between;
}
.entry-actions li {
	margin: 0;
}

.entry-meta {
	display: flex;
	align-items: center;
	column-gap: 1rem;
	font-size: .9em;
	margin: 0;
}

.entry-actions,
.entry-meta {
	padding: 0 1rem;
}

.entry-website img {
	vertical-align: text-bottom;
}
.entry-meta span.entry-author em {
	font-style: normal;
}
.entry-meta .category {
	margin-left: 0;
}

.entry-tags,
.entry-date {
	display: none;
}


.entry-content {
	padding: 0 1rem;
	color: var(--cor-fonte);
	font-size: var(--fs-conteudo);
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.entry-content p,
.entry-content li,
.entry-content blockquote,
.entry-content img {
	margin: 0 0 1.1rem;
	max-width: 60ch;
}
.entry-content blockquote {
	padding-left: 1rem;
	line-height: inherit;
}
.entry-content img {
	max-width: 100%;
	vertical-align: middle;
	margin-bottom: 1.1rem;
}
.entry-content ul {
	margin: 0 0 1.1rem 1.2rem;
}

.entry-content h1, h2, h3, h4, h5, h6 {
	line-height: 1.25;
	margin: 2.2rem auto 1.1rem;
	font-weight: 500;
}

@media (max-width: 830px) {
	.header {
		border-radius: 0;
	}
}

@media (max-width: 620px) {
	.logo {
		background-color: transparent;
	}

	#header-menu {
		width: 100%;
		padding: 0;
		list-style: none;
	}
	.header li {
		border-bottom: 1px dashed var(--header-list-border-color);
	}
	.header li:last-child {
		border-bottom: none;
	}

	.icon {
		width: 24px;
		height: 24px;
	}
	.icon-label {
		display: none;
	}
}